.myli{
	width: 100%;
	height: auto;
	background: #FFFFFF;
	
	padding-top: 20px;
	padding-bottom: 20px;
}

.liparent{
	height: auto; 
	margin-top: 10px;
	line-height: 45px;
	background: #E8E8E8;
	
}

.centerdiv{
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.5;
	position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}
